/*parte de inicio*/

.container-destaques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 100%;
    margin: 0 auto;
}

.container-destaques img#logo-league{
    height: 249px;
    width: 540px;
}

.button-jogar{
    margin-top: 35px;
    margin-bottom: 75px;
}

.container-destaques button#button-jogar{
    width: 205px;
    height: 52px;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(90deg, rgba(11, 198, 227,1) 0%, rgb(60, 183, 170) 100%);
    color: #fff;
    box-shadow: 3px 3px 20px #0bc5e2c2;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    font-size:  1.0625em;
    font-family: "arialN";
    padding: 10px;
}
button#button-jogar.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(205px + 10px);
    min-height: calc(52px + 10px);
    border: 3px solid  rgba(254, 254, 254, 0.608);
    box-shadow: 0 0 50px rgba( 190,220,224 ,0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
.button:hover, .button:focus {
    transform: translateY(-6px);
  }
  
button#button-jogar.button:hover::before, button#button-jogar.button:focus::before {
    opacity: 1;
 }

 .dividerSection{
    position: relative;
    height: 6px;
    box-shadow: 0 5.5px 0 black;
    border-width: 0;
    z-index: 10;
 }

@media (max-width : 995px){
    .container-destaques button#button_joga{
        display: none;
    }
} 

@media (max-width: 558px){
    .container-destaques img#logo-league{
        height: 100%;
        width: 100%;
    }

}