@import 'style_home/home_header.css';
@import 'style_home/home_destaques.css';
@import 'style_home/home_noticias.css';
@import 'style_home/home_campeao.css';
@import 'style_home/home_skin.css';
@import 'style_home/home_mapa.css';
@import 'style_home/home_footer.css';

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.conteiner_video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    -o-object-fit: cover;

    filter: brightness(70%);
    -webkit-filter: brightness(70%);

    z-index: -1;
}








