/*parte de inicio*/

.container_destaques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo_league{
    margin-top: 20px;
}

.container_destaques img#logo_league{
    height: 249px;
    width: 540px;
}

.button_jogar{
    margin-top: 20px;
    margin-bottom: 75px;
}

.container_destaques button#button_jogar{
    width: 205px;
    height: 52px;
    border: none;
    border-radius: 1000px;
    background-color: #0bc4e2;
    box-shadow: 9px 10px 24px #0bc5e2c2;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    font-family: "arialN";
    padding: 10px;
}
button#button_jogar.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(205px + 10px);
    min-height: calc(52px + 10px);
    border: 3px solid  rgba(254, 254, 254, 0.608);
    box-shadow: 0 0 50px rgba( 190,220,224 ,0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    cursor: none;
}
.button:hover, .button:focus {
    transform: translateY(-6px);
  }
  
button#button_jogar.button:hover::before, button#button_jogar.button:focus::before {
    opacity: 1;
 }


.container_separador{
    position: relative;
    margin-top: 360px;
    height: 0px;
    z-index: 999;
} 

